= render 'shared/errors', obj: @category
= form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f|
  .form-group
    .control-label.col-sm-2
      = f.label :name
    .col-sm-8
      = f.text_field :name, class: "form-control", placeholder: "Category name", autofocus: true
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary btn-lg'
.col-xs-4.col-xs-offset-4
  [ #{link_to "Cancel request and return to articles listing", articles_path} ]
