.landing-image
  %p
    = "QSUS 2018"
  %p
    = "Forging solidarity"

.container
  #about-us
    %h1
      Queen's Sustainability Conference
    .blurb
      %p
        Our goal at QSUS will always be the same: to inspire innovation and collaboration amongst some of our generation’s
        brightest minds. In doing so, we explore new and exciting ways of striving towards sustainability, and use this
        practice to enact real, positive change in the Kingston community.
      %p
        Our methodology, however, is always changing – right alongside society’s most recent political, economic and
        technological trends. QSUS recognizes the rapidly changing nature of the modern world and uses this to our
        advantage. Not only do we believe in wearing many hats – we thrive in it; and we enjoy creating an environment
        that welcomes open mindedness and versatility. Whether it be in entrepreneurship, conservation, activism,
        technological innovation, or any number of areas – we are always up for a challenge, and we hope you are too.
      %p
        Welcome to QSUS 2018.
    %p.quote
      “I firmly believe in the idea that if you aren’t trying to change the world, then you just aren’t thinking big
      enough. QSUS is the perfect platform for that – for students who really want to get their feet wet and make a
      difference.”
    %p.delegate
      \- QSUS 2017 Delegate
.page-divider
.container
  #our-partners
    %h1
      Our Partners
    .photo-grid-container
      .photo-grid
        .photo-grid-item.first-item
          .img
            = image_tag "company-logos/sustainable-kingston.png"
        .photo-grid-item
          .img
            = image_tag "company-logos/golder-associates-logo.svg.png"
        .photo-grid-item
          .img
            = image_tag "company-logos/DDQIC.jpg"
        .photo-grid-item
          .img
            = image_tag "company-logos/grizzly-grill-logo.png"
        .photo-grid-item
          .img
            = image_tag "company-logos/queens-hospitality-logo.jpg"
        .photo-grid-item
          .img
            = image_tag "company-logos/mackinnon_logo.jpg"
