#bg

#wrapper
  / Header
  %header#header
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}= value
    .logo
      %span
        .img
          = image_tag("qsus_white_small.png", alt: "QSUS Logo")
    .content
      .inner
        %h1 QUEEN'S SUSTAINABILITY CONFERENCE 2018
        %p January 19 - 21 2018
        %a.typeform-share.button{"data-mode" => "popup", :href => "https://qsus.typeform.com/to/GQkyrl", :style => "display:inline-block;text-decoration:none;background-color:#acdd26;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;", :target => "_blank"} Register!
        -#.main-type-form
          -#%a.typeform-share.button{:href => 'https://qsus.typeform.com/to/GQkyrl', :target => '_blank'}
          -#  Register!
    %nav
      %ul
        %li
          = link_to "About Us", "#{root_path}#about_us"
        %li
          = link_to "Our Partners", "#{root_path}#partners"
        %li
          = link_to "Forging Solidarity", "#{root_path}#forging"
        %li
          = link_to "Contact", "#{root_path}#contact"
  #main
    / About
    %article#about_us
      %h2.major ABOUT US
      %span.image.main
        = image_tag("qsus_cover.png")
      %p
        Our goal at QSUS will always be the same: to inspire innovation and collaboration amongst some of our
        generation’s brightest minds. In doing so, we explore new and exciting ways of striving towards sustainability,
        and use this practice to enact real, positive change in the Kingston community.
      %p
        Our methodology, however, is always changing – right alongside society’s most recent political, economic and
        technological trends. QSUS recognizes the rapidly changing nature of the modern world and uses this to our
        advantage. Not only do we believe in wearing many hats – we thrive in it; and we enjoy creating an environment
        that welcomes open mindedness and versatility. Whether it be in entrepreneurship, conservation, activism,
        technological innovation, or any number of areas – we are always up for a challenge, and we hope you are too.
      %h4.italic
        “I firmly believe in the idea that if you aren’t trying to change the world, then you just aren’t thinking
        big enough. QSUS is the perfect platform for that – for students who really want to get their feet wet and
        make a difference.”
        %br/
        %br/
        %center - Anuj Arora, QSUS 2017 Delegate
      %ul.icons
        %li
          %a.icon.fa-facebook{:href => "https://www.facebook.com/queens.sus/"}
            %span.label Facebook
        %li
          %a.icon.fa-linkedin{:href => "https://www.linkedin.com/company/11314897/"}
            %span.label Linkedin

    / Partners
    %article#partners
      %h2.major PARTNERS
      %p 
        We are independent, but we certainly don't work
        alone. A huge part of our agenda is building and   
        maintaining an impressive network of partners from 
        the private sector, academia and government.
      %h4#Interested
        %center
          Interested in partnering with QSUS?
          %br>/
          email us at -
          %a{:href => "mailto:sponsorship@qsus.ca"} sponsorship@qsus.ca
      //.partner-flex-container
      .partner-flex-grid
        .tier1
          .partner-t1
            .img
              = link_to image_tag("company-logos/sustainable_kingston_logo.png", alt: "Sustainable Kingston Logo"), "https://www.sustainablekingston.com/"
        .tier2
          .partner-t2
            .img
              = link_to image_tag("company-logos/qu-ses-logo.jpg", alt: "Queen's University School of Environmental Studies Logo"),"http://www.queensu.ca/ensc/home"
          .partner-t2
            .img
              = link_to image_tag("company-logos/queens_hosp_logo.png", alt: "Queen's Hospitality Logo"),"https://dining.queensu.ca/"
        .tier3
          .partner-t3
            .img
              = link_to image_tag("company-logos/golder_logo.png", alt: "Golder Associates Logo"), "https://www.golder.com/"
          .partner-t3
            .img
              = link_to image_tag("company-logos/moescc-logo.png", alt: "Ministry of Environment and Climate Change Logo"), "https://www.ontario.ca/page/ministry-environment-and-climate-change"
        .tier4
          .partner-t4
            .img
              = link_to image_tag("company-logos/tulips_maple_logo.png", alt: "Tulips and Maple Logo"),"https://www.tulipsandmaple.ca/"
          .partner-t4
            .img
              = link_to image_tag("company-logos/coca_cola_hosp_logo.png", alt: "Coca Cola Logo"),"http://www.coca-cola.ca/"
          .partner-t4
            .img
              = link_to image_tag("company-logos/browns.png", alt: "Browns Logo"),"http://www.browns.ca/"
        .tier4
          .partner-t4
            .img
              = link_to image_tag("company-logos/dd_qic_logo.png", alt: "DD Queen's Innovation Centre Logo"),"http://www.queensu.ca/innovationcentre/"
          .partner-t4
            .img
              = link_to image_tag("company-logos/smith-school-logo.png", alt: "Smith School of Business Logo"),"https://smith.queensu.ca/"
        .tier5
          .partner-t5
            .img
              = link_to image_tag("company-logos/mackinnon_logo.jpg", alt: "MacKinnon Logo"),"http://www.mackinnonbrewing.com/"
          .partner-t5
            .img
              = link_to image_tag("company-logos/grizz.png", alt: "Grizz Logo"),"http://www.thegrizzlygrill.ca/"
        .tier5
          .partner-t5
            .img
              = link_to image_tag("company-logos/rmc_logo.png", alt: "RMC Logo"), "https://www.rmcc-cmrc.ca/en"
          .partner-t5
            .img
              = link_to image_tag("company-logos/queens_logo.png", alt: "Queen's University Logo"), "http://www.queensu.ca/"
          .partner-t5
            .img
              = link_to image_tag("company-logos/st_lawrence_logo.png", alt: "St-Lawrence College Logo"), "http://www.stlawrencecollege.ca/"
        %ul.icons
        %li
          %a.icon.fa-facebook{:href => "https://www.facebook.com/queens.sus/"}
            %span.label Facebook
        %li
          %a.icon.fa-linkedin{:href => "https://www.linkedin.com/company/11314897/"}
            %span.label Linkedin

    %article#forging
      %h1 Forging Solidarity
      %span.image.main
        = image_tag("forging-solidarity.png", alt: "Forging Solidarity Picture")
      %p
        It’s no secret that the world is changing. Amongst rising populations, 
        declining resources, erratic climates and polarizing ideologies; we find
        ourselves in a period of complete global transformation. 
      %p
        As such, the power for change no longer lies with the forces of
        imperialistic globalization, but with those who are willing to
        work together and strive towards a more unified future. 
      %p
        In 2018, our conference will use this idea to inspire delegates to
        become the trailblazers of a generation built on innovation and
        collaboration. As we look towards a better future, QSUS aims to
        unite the Kingston community, strengthen our means of implementation,
        and revitalize the local partnership for sustainable development.
      %h2 Details
      %h3
        January 19-21, 2018
      %h3
        Queen’s University, Kingston ON
      %p
        Recognizing that the challenges associated with sustainability are
        multidisciplinary by nature, QSUS embodies the many pillars of
        sustainability and looks to unite students and professionals
        from a number of different backgrounds and interests. By Forging
        Solidarity in the Kingston community, we hope to enact real, positive
        change while highlighting the important work of various organizations
        throughout the city.
      %p
        This year, delegates at QSUS will be immersed in a weekend full of case
        competitions, networking events, speaker panels, workshops and
        socials, as well as an impressive portfolio of speakers and sponsors. As a new
        edition, student delegates from Queen’s University will be joined by
        St. Lawrence College and the Royal Military College of Canada.
      %h2 Speakers
      .speakers
        %h3 Roberta Bondar
        .speaker
          .img
            = image_tag("roberta-bondar.jpg", alt: "Roberta Bondar")
          .speaker-bio
            %p.quote
              = "\"Without knowledge, the world is bereft of culture. And so we must be educators and students both. At some point, an educator must broaden the net to include all issues relevant to humanity’s challenges.\""
            %p.name - Roberta Bondar
            %p
              = "Roberta Bondar is Canada’s first female astronaut and the first neurologist in space. Since returning from the great beyond, Roberta has been a passionate advocate for the pursuit of climate change solutions, and has cataloged environmental impacts and spoken to raise awareness around the world. She has compiled four photo-essay books on natural environments, and in 2009 she founded the Roberta Bondar Foundation, a non-profit organization centered on creating greater environmental awareness."
        %h3 Simon Jackson
        .speaker
          .img
            = image_tag("simon-jackson.jpg", alt: "Simon Jackson")
          .speaker-bio
            %p
              = "Simon led the campaign to save the spirit bear for two decades, helping create the largest land protection measure in North American history. For his efforts, he was  named a Hero for the Planet by Time Magazine and was the inspiration for the movie, Spirit Bear: The Simon Jackson Story."
            %p
              = "Today, Simon leverages his skills and experiences as a strategist to help diverse clients secure a social license to advance good ideas that will benefit all of society. Additionally, Simon is a widely published author, as well as the lead storyteller for GhostBearPhotography.com, a photo and essay-driven, nature-focused education platform Simon co-founded in 2013."
      %h2
        Welcome to QSUS 2018.
      %ul.icons
        %li
          %a.icon.fa-facebook{:href => "https://www.facebook.com/queens.sus/"}
            %span.label Facebook
        %li
          %a.icon.fa-linkedin{:href => "https://www.linkedin.com/company/11314897/"}
            %span.label Linkedin

    %article#contact
      %h1 Contact
      = simple_form_for @contact, html: { class: 'form-horizontal' }, :url => new_info_path(:anchor => 'contact'), :method => "post" do |f|
        = f.input :name, required: true
        = f.input :email, required: true
        = f.input :message, as: :text, required: false, input_html: { rows: 10 }, hint: 'Max 1000 characters'
        .form-actions
          = f.button :submit, 'Send message', class: 'btn btn-primary'
      %ul.icons
        %li
          %a.icon.fa-facebook{:href => "https://www.facebook.com/queens.sus/"}
            %span.label Facebook
        %li
          %a.icon.fa-linkedin{:href => "https://www.linkedin.com/company/11314897/"}
            %span.label Linkedin


  / Footer
  %footer#footer
    %p.copyright © QSUS Executive Team.